<div class = "row">
  <div class = "col-sm-9 blog-main">
    <% if current_user.admin %>
    <table class="table table-striped table-bordered table-list">
      <thead>
        <tr>
         <th>Email</th>
       </tr>
     </thead>

     <tbody id="myTable">
      <% User.all.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= link_to "Show" %></td>
      </tr>
      <% end %>
    </tbody>

  </table>
  <% else %>
  <H1 align = "center"> Only for admin </H1>
  <% end %>

</div>
<div class = "col-sm-2 offset-sm-1 blog-sidebar">
  <%= render 'layouts/right'%>
</div>
</div>